@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

h1{
    font-family: 'Alfa Slab One', serif;
    color: orange;
    text-shadow: 0.2rem 0.2rem teal;
}

h1 small{
    color: teal;
    text-shadow: 0.2rem 0.2rem orange;
    font-size: 50%;
}

#flick-list{
    margin-bottom: 0;
}

.flick-name{
    margin: 0 0.75rem;
}

.flick .button-group{
    margin-bottom: 0;
}

.flick .button-group .button{
    margin-bottom: 0;
}

.template{
    display: none;
}