@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

html {
  background: linear-gradient(blue, orange) no-repeat center center fixed; 
  background-size: cover;
}

body{
    background: transparent

}

h1{
    font-family: 'Alfa Slab One', serif;
    color: orange;
    text-shadow: 0.2rem 0.2rem teal,
                0.4rem 0.4rem black;
}

h1 small{
    color: orange;
    text-shadow: 0.2rem 0.2rem teal,
                0.4rem 0.4rem black;
    font-size: 50%;
}

#flick-list{
    margin-bottom: 0;
}

.list-container{
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px #4c4c4c;
}

.template{
    display: none;
}

.flick.fav{
    background-color: gold;
}

.flick-name{
    margin: 0 0.75rem;
}

.flick .button-group{
    margin-bottom: 0;
}

.flick .button-group .button{
    margin-bottom: 0;
}